.testing {
  width: 71.42857%; }

body {
  margin-top: 25px; }

header {
  height: 120px;
  display: flex;
  justify-content: space-between; }
  header h1 {
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    line-height: 88px;
    letter-spacing: 0.5px;
    text-transform: uppercase; }
    header h1:hover {
      cursor: pointer;
      color: #A5A5A5; }
  header nav {
    margin-top: 25px; }
    header nav ul li {
      display: inline;
      list-style: none; }
    header nav a {
      color: #000;
      text-decoration: none;
      font-weight: 400;
      font-size: 0.8125rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 28px;
      padding: 0 0 0 35px;
      letter-spacing: 0.2px; }
      header nav a:hover {
        cursor: pointer;
        color: #848484; }

header, main, footer {
  margin: 0 auto 0 auto;
  width: 1170px; }

article .Large .itemL {
  font-family: 'Karla', sans-serif;
  margin: 0 0 40px 0; }
  article .Large .itemL__image {
    width: 1170px;
    margin-bottom: 18px; }
    article .Large .itemL__image:hover {
      cursor: pointer;
      opacity: 0.9;
      transition: opacity 0.35s ease-in-out 0s; }
  article .Large .itemL__brand {
    color: #A5A5A5; }
  article .Large .itemL__price {
    float: right; }

article .Small {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px; }
  article .Small .itemS {
    font-family: 'Karla', sans-serif;
    margin: 0 0 40px 0; }
    article .Small .itemS__image {
      width: 370px;
      margin-bottom: 18px; }
      article .Small .itemS__image:hover {
        cursor: pointer; }
    article .Small .itemS__brand {
      font-size: 15px;
      color: #A5A5A5; }
    article .Small .itemS__price {
      float: right; }

.footer .ufooter {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: 'Karla', sans-serif;
  margin: 30px 0 40px 0; }
  .footer .ufooterlinks__ext {
    width: 274px;
    height: 91.5px;
    color: #000;
    border: 2px solid #f2f2f2;
    text-align: center; }
    .footer .ufooterlinks__ext a {
      color: #000;
      text-decoration: none; }
      .footer .ufooterlinks__ext a h2 {
        font-size: 15px;
        font-weight: 700;
        margin: 20px 0 0 0;
        text-transform: uppercase;
        text-align: center; }
      .footer .ufooterlinks__ext a p {
        font-size: 12px;
        font-weight: 400; }

.footer .lfooter {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 0 30px 0; }
  .footer .lfooter a {
    color: #000;
    text-decoration: none; }
  .footer .lfooter__storeTtl h2 {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 30px; }
  .footer .lfooter__storeTtl p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300; }
  .footer .lfooter__contact h2, .footer .lfooter__Newsletter h2 {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 30px; }
  .footer .lfooter__contact a, .footer .lfooter__contact p, .footer .lfooter__Newsletter a, .footer .lfooter__Newsletter p {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px; }
  .footer .lfooter__socials h2 {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 30px; }
  .footer .lfooter__socials a, .footer .lfooter__socials p {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin: 0 0 5px 0; }
  .footer .lfooter__cr {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #848484;
    line-height: 1.5em;
    margin: 30px 0 20px 0; }
    .footer .lfooter__cr a {
      color: #848484;
      text-decoration: none; }
