.testing {
  width: percentage(5/7);
}
body{
  margin-top: 25px;
  // margin: 25px 0 0 0;
  // margin: 0;
}
header{
  // position: relative;
  // top: 25px;
  height: 120px;
  display: flex;
  justify-content:space-between;
  h1{
    color:#000;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    line-height: 88px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
      &:hover{
      cursor:pointer;
      color:#A5A5A5;
    }
  }
  nav{
    margin-top: 25px;
    ul li{
    display: inline;
    list-style: none;
  }
    a{
      color:#000;
      text-decoration: none;
      font-weight: 400;
      font-size: 0.8125rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 28px;
      padding: 0 0 0 35px;
      letter-spacing: 0.2px;
        &:hover{
        cursor:pointer;
        color:#848484;
      }
    }
  }
}
header, main, footer{
  margin: 0 auto 0 auto;
  width: 1170px;
  // border: 2px red dotted;
}
article{  
  .Large{
    .itemL{
      font-family: 'Karla', sans-serif;
      margin: 0 0 40px 0;
      &__image{
        width: 1170px;
        margin-bottom: 18px;
        &:hover{
          cursor:pointer;
          opacity: 0.9;
          transition: opacity 0.35s ease-in-out 0s;
        }
      }
      &__brand{
        color:#A5A5A5;
      }
      &__price{
        float: right;
      }
    }
  }
  .Small{
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    .itemS{
      font-family: 'Karla', sans-serif;
      margin: 0 0 40px 0;
      &__image{
        width: 370px;
        margin-bottom: 18px;
        &:hover{
          cursor:pointer;
        }
      }
      &__brand{
        font-size:15px;
        color:#A5A5A5;
      }
      &__price{
        float: right;
      }
    }
  }  
}
.footer{
  .ufooter{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: 'Karla', sans-serif;
    margin: 30px 0 40px 0;
    &links__ext{
      width: 274px;
      height: 91.5px;
      color:#000;
      border: 2px solid #f2f2f2;
      text-align: center;
      a{
        color: #000;
        text-decoration: none;
        h2{
          font-size: 15px;
          font-weight: 700;
          margin: 20px 0 0 0;
          text-transform: uppercase;
          text-align: center;
        }
        p{
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
  .lfooter{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    a{
      color: #000;
      text-decoration: none;
    }
    &__storeTtl{
      h2{
        font-family: 'Karla', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5em;
        margin-bottom: 30px;
      }
      p{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 300;
      }
    }
    &__contact,&__Newsletter{
      h2{
        font-family: 'Karla', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5em;
        margin-bottom: 30px;
      }
      a,p{
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
      }
    }
    &__socials{
      h2{
        font-family: 'Karla', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5em;
        margin-bottom: 30px;
      }
      a,p{
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        margin: 0 0 5px 0;
      }
    }
    &__cr{
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 300;
      color:#848484;
      line-height: 1.5em;
      margin-bottom: 30px;
      a{
        color:#848484;
        text-decoration: none;
      }
    }
  }    
}
